body{
  color: white;
}

h1{
  text-align: center;
  color: black;
  font-family: 'Staatliches', cursive;
}

p{
  color: black;
  text-align: center;
  font-family: 'Varela', sans-serif;
  font-weight: 600;
}

.topnav {
  overflow: hidden;
  background: rgb(145,230,143);
  background: linear-gradient(90deg, rgba(145,230,143,1) 0%, rgba(164,118,219,1) 72%, rgba(0,0,0,1) 100%);
  position: relative;
  margin: 0 0 1em 0;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #a476db;
  color: white;
}

.grid-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1em;
}

.grid-item{
  text-align: center;
  margin: 10px auto;
  width: 23vw;
  height: 20vh;
}
.one{
  background-image: url("../images/2001.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* #space{
  background-image: url("../images/2001.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
} */
.one:hover{opacity: 0.7;}
.two{
  background-image: url("../images/birdman.still135_0.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.two:hover{opacity: 0.7;}
.three{
  background-image: url("../images/fight-club-final-shot.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.three:hover{opacity: 0.7;}
.four{
  background-image: url("../images/Ghost_Shell_1995.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.four:hover{opacity: 0.7;}
.five{
  background-image: url("../images/inception.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.five:hover{opacity: 0.7;}
.six{
  background-image: url("../images/interstellar.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.six:hover{opacity: 0.7;}
.seven{
  background-image: url("../images/moonlight.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.seven:hover{opacity: 0.7;}
.eight{
  background-image: url("../images/my-neighbor-totoro-hayao-miyazaki.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.eight:hover{opacity: 0.7;}
.nine{
  background-image: url("../images/pixar-up-final-shot.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.nine:hover{opacity: 0.7;}
.ten{
  background-image: url("../images/roma-beach.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.ten:hover{opacity: 0.7;}
.eleven{
  background-image: url("../images/the-breakfast-club-final-shot.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.eleven:hover{opacity: 0.7;}
.twelve{
  background-image: url("../images/thelma-and-louise-ending.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.twelve:hover{opacity: 0.7;}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  margin-bottom: 22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  //margin: 1em 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 5px 2px 10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #A476DB;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.modal {
  visibility: hidden;
  position: absolute;
  top: 70vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 70vw;
  max-width: 2010px;
  height: auto;
  background: rgba(252, 252, 252,.7);
}

/* Modal Content (Image) */
.modal-content {
  margin: 2em auto 1em auto;
  display: block;
  /* position: absolute; */
  /* top: 45em; */
  width: 80%;
  max-width: 2000px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: none;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@media screen and (max-width: 972px){
  .grid-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-item{
    width: 30vw;
    height: 20vh;
  }
}
@media screen and (max-width: 768px){
  .grid-container{
    grid-template-columns: 1fr 1fr;
  }
  .grid-item{
    width: 46vw;
    height: 20vh;
  }
}
@media screen and (max-width: 532px){
  .grid-container{
    grid-template-columns: 1fr;
  }
  .grid-item{
    width: 94vw;
    height: 20vh;
  }
}
